replicaCount: 1
strategyType: Recreate

image:
  repository: "imenhr/ssh-repo"
  tag: "v10"
  pullPolicy: IfNotPresent
imagePullSecrets: []


env:
#Which schedule used for crontab.
#0 = Disabled
#1 = at every boot
#2 = every 5 minute
#4 = every 10 minute
#7 = every 30 minute
#10 = every hour
#12 = every 2 hours
#14 = every 4 hours
#16 = every 6 hours
#18 = every 12 hours
#19 = custom defined hours
#20 = every day
#25 = daily anacron
#27 = when drive get connected
#30 = every week
#40 = every month
#80 = every year
  mode : "'2'"

#connect with ssh to the host where snapshots will be saved and precise the path
  snap_host : "imen@192.168.100.7" 
  ssh_host : "192.168.100.7"
  ssh_user : "imen" 
  ssh_pass : "imen"
  ssh_path : "/home/imen"


leaderElection:
  # When set to false leader election will be disabled
  enabled: true

## For RBAC support:
rbac:
  # Specifies whether RBAC resources should be created
  create: true

# If true, create & use Pod Security Policy resources
# https://kubernetes.io/docs/concepts/policy/pod-security-policy/
podSecurityPolicy:
  enabled: false

# Deployment pod annotations
podAnnotations: {}

## Set pod priorityClassName
# priorityClassName: ""

serviceAccount:
  # Specifies whether a ServiceAccount should be created
  create: true

  # Annotations to add to the service account
  annotations: {}

  # The name of the ServiceAccount to use.
  # If not set and create is true, a name is generated using the fullname template
  name:

resources: {}
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

# Additional labels for any resource created
labels: {}
